@import url("https://fonts.googleapis.com/css2?family=Staatliches&display=swap");

.bg-color {
  background-image: linear-gradient(
    to right bottom,
    #bcf2f9,
    #b3f1f8,
    #a9eff8,
    #9feef7,
    #94ecf6
  );
}

.jump {
  font-family: "Staatliches", cursive;
  letter-spacing: 2px;
}
.jump::after {
  content: "";
  display: flex;
  background: linear-gradient(
    115deg,
    rgba(37, 49, 109, 1) 0%,
    rgba(164, 96, 237, 1) 100%
  );
  border-radius: 10px;
  width: 0;
  height: 5px;
  top: 8.5%;
  transition: 0.5s;
}

li:hover {
  color: #fff;
}
li:hover.jump::after {
  content: " ";
  width: 100%;
}
