.animation {
  transition: all 0.5s;
  animation: pulse 3s infinite;
}
.center {
  display: flex;
  align-items: center;
  justify-content: center;
}
@keyframes pulse {
  0% {
    opacity: 0;
    transform: translateX(0%);
  }
  50% {
    opacity: 1;
    transform: translateX(-5%);
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    transform: translateX(0%);
  }
}
@media screen and (max-width: 768px) {
  #Images{
    display: none;
  }
}