.faculty-title {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 58px;
    line-height: 15px;
    text-align: center;
    letter-spacing: 0.02em;
}

.card-4 {
    margin-left: 50%;
}

.card-5 {
    margin-left: 50%;
}
